/*Расположение формы поиска*/
form.search-form {
	max-width: 600px;
    margin:24px auto;
}

input.search-field {
  width: 75%;
  margin-top: 6px !important;
  float: left;
}

input.search-submit {
  width: 20%;
  margin-left: 6px;
/*  float: right;*/
}

li.search-results {
   list-style-type: none;
}

div.widget_search .search-submit {
	display: inline-block;
}

.search-results-type {
	display: flex;
	list-style: none;
}